.add-cart {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.add-cart img {
  width: 35px;
  height: 35px;
  object-fit: contain;
  filter: brightness(0) invert(1);
}

.cart-count {
  position: absolute;
  top: 15px;
  right: -8px;

  min-width: 20px;
  height: 20px;

  padding: 2px 5px;

  background-color: red;
  color: white;

  border-radius: 50%;

  font-size: 12px;
  font-weight: bold;

  display: flex;
  align-items: center;
  justify-content: center;
}